@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter; 
}

header h1{
    display: flex;
    justify-content:flex-start ;
    padding:1em;
    margin-left: 4em;
    margin-top: 5vh;
    color: #4338CA;
    font-size: 1.8em;
    letter-spacing: 1.5px;
    font-weight: 400;

}
header{
    width:100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
/*     background-color: rgba(51, 51, 51, 0.27); */
}
/* ====================== */
li a:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}
button:hover {
    color: black;
    background-color: #5b7cdd;
}

/* ====================== */
header nav {
    margin-top: 7vh;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav ul li{
    list-style: none;
/*     display: inline-block; */

}
header nav ul li a {
 text-decoration: none;
 color: #333;
 font-size: 16px;
 padding: 7px 25px;
 font-weight: 400;
}
header nav button {
    margin-right: 3vw;
    font-size: 20px;
    border-radius: 25px;
    padding: 7px 40px;
    background-color:#4338CA ;
    color: white;
    border: none;
    
}
main section.welcome{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 7rem;
}
main article{
    width: 40%;
}
article div.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9rem;
}

article div.welcome p{
    font-size: 20px;
    color: #4338CA;
    margin-left: 1.25rem;

}
main article h2{
margin-left: 3vw;
font-size: 50px;
margin-bottom: 20px;
}
main article p.dev{
    margin-left: 3vw;
    font-size: 1.2em;
    margin-bottom: 50px;
}
main article button {
    font-size: 28px;
    border-radius: 30px;
    padding: 15px 47px;
    background-color:#4338CA ;
    color: white;
    border: none;
    margin-left: 2.7vw
}
main section.welcome img.portfolio {
    box-shadow: #4338CA 40px 40px ;
    height: 667px;
    width: 550px;
}
section.about {
    display: flex;
    justify-content: center;
    margin:25vh 0;
}
section.about h2 {
    font-size: 100px;
    
}
section.about h2 span {
    text-align: center;
    display: block;
}
div.about {
    width: 30.5%;
    line-height: 93.02px;
}
section.about article div {
    height: 6.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}
section.tech {
    background-color: #4338CA;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(7,8%) ;
    grid-template-rows:1fr 0.75fr 0.5fr 0.5fr;
    grid-template-areas: 
    "tech tech tech tech tech tech tech"
    "html css js react figma vscode wp"
    "vue angular docker postman express mongodb node"
    ;
    height: 99.5vh;
    text-align: center;
    padding-left: 12vw;
}
.tech h2 {
    text-align: left;
    color:white ;
    font-size: 100px;
    grid-area: tech;
    padding: 13vh 0 3vh 0 ;
}
/* ============= */
/* ==Werdegang== */
/* ============= */
section.werde {
    display: flex;
    padding: 20vh 0;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;

}
section.werde img {
    width: 94px;
    display: inline;
}
.werde div#werde p {
    color: #4338CA;
    display: inline;
}
section.werde div {
    display: flex;
    flex-direction: column;
    justify-content: ;
    gap:25px;
}
section.werde div h3 {
    font-size: 50px;
}

div#werde {
    display: inline;
}
div#werde h2 {
    font-size: 100px;
}

section.werde div article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 547px;
    height: 191px;
    background-color: #4338CA;
    color: white;
    border-radius:20px ;
}
div.ausbildung {
    align-self: flex-end;
    padding-top: 40vh;
}
div.erfahrung a, div.erfahrung h4, div.erfahrung ul, div.ausbildung a, div.ausbildung h4, div.ausbildung ul {
padding-left: 2.5rem;
}
div.erfahrung a, div.ausbildung a {
    font-size: 10px;
}
div.erfahrung h4, div.ausbildung h4 {
    font-size: 20px;
}



figure {
    color: white;
}

.html {
    grid-area: html;
}
.css {
    grid-area: css;
}
.js {
    grid-area: js;
}
.react {
    grid-area: react;
}
.figma {
    grid-area: figma;
}
.vscode {
    grid-area: vscode;
}
.wordpress {
    grid-area: wp;
}
.vue {
    grid-area: vue;
}
.angular {
    grid-area: angular;
}
.docker {
    grid-area: docker;
}
.postman {
    grid-area: postman;
}
.express {
    grid-area: express;
    place-self: end;
}
.mongodb {
    grid-area: mongodb;
}
.node {
    grid-area: node;
}